## Case 3 Karolina SÅ‚apek Wiktor Pyka Kacper Szczepanik

In [1]:
import pandas as pd
import seaborn as sns
from pylab import *
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np
import matplotlib.pyplot as plt
from stargazer.stargazer import Stargazer
import sympy as sp
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
from statsmodels.compat import lzip
from statsmodels.stats.outliers_influence import variance_inflation_factor
from scipy.stats import spearmanr

In [2]:
df = pd.read_csv('income2wampoprzeksztalceniach.csv', sep = ';')
df.head()

,Unnamed: 0,age,edu_non_grad,edu_hs_grad,edu_uni_col_uni_grad,edu_prof_or_phd_grad,wage_per_hour,marital_status,race,sex,member_of_labor_union,lwage,age_2,raceXedu_non_grad,raceXedu_prof_or_phd_grad,raceXedu_uni_col_uni_grad,sexXedu_non_grad,sexXedu_prof_or_phd_grad,sexXedu_uni_col_uni_grad
0,0,15,1,0,0,0,435,0,0,1,0,6.075346,225,0,0,0,1,0,0
1,1,15,1,0,0,0,300,0,0,1,0,5.703782,225,0,0,0,1,0,0
2,2,15,1,0,0,0,200,0,0,1,0,5.298317,225,0,0,0,1,0,0
3,3,15,1,0,0,0,500,0,0,0,0,6.214608,225,0,0,0,0,0,0
4,4,15,1,0,0,0,425,0,0,0,0,6.052089,225,0,0,0,0,0,0

In [9]:
y=df['lwage']
X=df[['age','age_2','edu_non_grad','edu_uni_col_uni_grad','edu_prof_or_phd_grad','marital_status','member_of_labor_union','sex','race','raceXedu_uni_col_uni_grad','sexXedu_uni_col_uni_grad','sexXedu_non_grad']]
X= sm.add_constant(X)

In [11]:
model9=sm.Logit(y,X,data=df).fit()
model9.summary()

ValueError: endog must be in the unit interval.